# Normalizar quebras de linha para LF no repositório
* text=auto

# Manter CRLF para arquivos binários
*.exe binary
*.dll binary
*.png binary
*.jpg binary

# Definir comportamento específico para arquivos
*.sh text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.conf text eol=lf
*.bat text eol=crlf
